#YungeenAceVideo {
    border: solid 5px whitesmoke;
    border-radius: 5px;
    top: 35%;
    left: 17%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#FortniteMontageVideo {
    border: solid 5px whitesmoke;
    border-radius: 5px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#MinecraftMovieTeaserVideo {
    border: solid 5px whitesmoke;
    border-radius: 5px;
    top: 35%;
    left: 83%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#BarcelonaXColdplayVideo {
    border: solid 5px whitesmoke;
    border-radius: 5px;
    top: 75%;
    left: 17%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#FortniteGameplayTrailerVideo {
    border: solid 5px whitesmoke;
    border-radius: 5px;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#ValorantMontageVideo {
    border: solid 5px whitesmoke;
    border-radius: 5px;
    top: 75%;
    left: 83%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#title {
    top: 8%;
    left: 50%;
    text-shadow: 0 0 10px white, 0 0 10px white;
    transform: translate(-50%, -50%);
    position: absolute;
    align-items: center;
    display: flex;
    font-size: 200%;
}

#backgroundimage {
    height: 97vh;
    width: 99vw;
}